{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  </head>
  <body>

    {% include 'main/navigation.html' %}
    <main class="main"> 
      <div class="main__container container">
        <div class="main__content">
          <p class="text text_big"> для тех, кто стремится жить <span class="accent">экологически осознанно</span> и внести свой вклад в устойчивое развитие города.</p>
          <p class="text text_small">мы <span class="accent">способствуем</span> повышению осведомленности о переработке отходов.</p>
          <p class="text text_small">поможем вам <span class="accent">сэкономить время</span> поиска близлежащих пунктов переработки.</p>
          <p class="text text_small">узнавайте первыми о <span class="accent">предстоящих событиях</span> и участвуйте в  них.</p>
        </div>
      </div>
      <div class="main__footer"> 
        <p>
           Контактная информация: для сотрудничества - <a href="mailto:ecokazan@gmail.com">ecokazan@gmail.com</a></p>
        <p>
           , мы в соц.сетях -<a href="https://vk.com" target="_blank"> <img src="{% static 'img/vk.svg' %}" alt="vk-logo"></a><a href="https://telegram.web" target="_blank"> <img src="{% static 'img/telegram.svg' %}" alt="telegram-logo"></a></p>
      </div>
    </main>

<script src="{% static 'js/app.min.js' %}"> </script>
  </body>
</html>