{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/sign-up-page.min.css' %}"><script src="https://accounts.google.com/gsi/client" async></script>
  </head>
  <body> 
    <header class="header"><a class="header__logo" href="/"><img src="{% static 'img/logo.png' %}" alt="eco kazan logo"></a></header>
    <main class="main"> 
      <div class="main__content"> 
        <div class="main__body"> 
          <form class="main__form form" action="{% url 'sign_up' %}" method="post">
            <h2 class="form__title">Регистрация</h2>
            {% csrf_token %}

            {% if form.errors %}
	          <div id="errors">
                <div class="inner">
			      <ul>
				    {% for field in form %}
					    {% if field.errors %}<li style="list-style: inherit;">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				    {% endfor %}
			      </ul>
		        </div>
	          </div>
            {% endif %}

            <div class="form__field">
              <input class="form__input" type="text" name="username" id="nickname" placeholder="Никнейм" value="{% if form.username.value is not None %}{{ form.username.value }}{% endif %}">
            </div>
            <div class="form__field"> 
              <input class="form__input" type="text" name="first_name" id="name" placeholder="Имя" value="{% if form.first_name.value is not None %}{{ form.first_name.value }}{% endif %}">
            </div>
            <div class="form__field"> 
              <input class="form__input" type="text" name="last_name" id="surname" placeholder="Фамилия" value="{% if form.last_name.value is not None %}{{ form.last_name.value }}{% endif %}">
            </div>
            <div class="form__field"> 
              <input class="form__input" type="email" name="email" id="email" placeholder="Укажите почту" value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}">
            </div>
            <div class="form__field"> 
              <input class="form__input" type="date" name="birth_date" id="birth_date" placeholder="Дата рождения">
            </div>
            <div class="form__field">
              <input class="form__input" type="password" name="password1" id="password1" placeholder="Пароль">
            </div>
            <div class="form__field">
              <input class="form__input" type="password" name="password2" id="password2" placeholder="Повторите пароль">
            </div>
            <button class="form__button" type="submit">Зарегистрироваться</button>

          </form>

        </div>
        <div class="main__footer">
          <div class="main__actions"> <a class="main__link" style="margin-right: 20px;" href="{% url 'sign_in' %}">Есть аккаунт?</a><a class="main__link" href="/">Перейти на главную страницу без входа</a></div>
        </div>

        <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="signin_with" data-shape="circular" data-callback="OnSuccess" data-logo_alignment="center">
          <div class="S9gUrf-YoZ4jf" style="position: relative;">
            <div>
              <div tabindex="0" role="button" aria-labelledby="button-label" class="nsm7Bb-HzV7m-LgbsSe  hJDwNd-SxQuSe i5vt6e-Ia7Qfc uaxL4e-RbRzK">
                <div class="nsm7Bb-HzV7m-LgbsSe-MJoBVe"></div>
                <div class="nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb oXtfBe-l4eHX">
                  <div class="nsm7Bb-HzV7m-LgbsSe-Bz112c">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                  </div>
                    <a href="{% provider_login_url 'google' %}?next=/">
                    <span class="nsm7Bb-HzV7m-LgbsSe-BPrWId">Вход через аккаунт Google</span>
                    <span class="L6cTce" id="button-label">Вход через аккаунт Google</span>
                </div>
              </div>
            </div>
            <iframe src="https://accounts.google.com/gsi/button?type=standard&amp;size=large&amp;theme=outline&amp;text=signin_with&amp;shape=circular&amp;logo_alignment=center&amp;client_id=338905174190-4jihlqo09vr2e2ltpr0ltdjcip8uaqvg.apps.googleu%20sercontent.com&amp;iframe_id=gsi_945084_980968&amp;as=vb2p2yo17DYdUuZqnTQW%2FA" allow="identity-credentials-get" id="gsi_945084_980968" title="Кнопка &quot;Войти с аккаунтом Google&quot;" style="display: block; position: relative; top: 0px; left: 0px; height: 0px; width: 0px; border: 0px;"></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>