{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'css/sign-in-page.min.css' %}"><script src="https://accounts.google.com/gsi/client" async></script>
  </head>
  <body>
    <header class="header"><a class="header__logo" href="/"><img src="{% static 'img/logo.png' %}" alt="eco kazan logo"></a></header>
    <main class="main">
      <div class="main__content">
        <div class="main__header">
          <div>Вход</div>
        </div>
        <div class="main__body">
          <form class="main__form form" method="POST">
            {% csrf_token %}
              {% form.as_p %}
            <button class="form__button" type="submit">Войти</button>
          </form>
        </div>
        <div class="main__footer">
          <div class="main__actions"> <a class="main__link" href="#">Забыли пароль?</a><a class="main__link" href="{% url 'sign_up' %}">Создать аккаунт</a><a class="main__link" href="{% url 'home' %}">Перейти на главную страницу без входа</a></div><div id="my-signin2"></div>
          <div id="g_id_onload" data-client_id="338905174190-4jihlqo09vr2e2ltpr0ltdjcip8uaqvg.apps.googleusercontent.com" data-login_uri="https://example.com/" data-auto_prompt="false"></div>
          <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="signin_with" data-shape="circular" data-callback="OnSuccess" data-logo_alignment="center"></div>
        </div>
      </div>
    </main>
  </body>
</html>