<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница администратора</title>
    <link rel="stylesheet" href="css/admin-forum-page.min.css">
  </head>
  <body> 
    <main class="main"> 
      <div class="main__bg"></div>
      <div class="sidebar"> 
        <div class="sidebar__burger"><span></span></div><a class="sidebar__logo" href="/"><img src="./images/logo-small.png" alt="ecokazan logo"></a>
        <nav class="sidebar__nav">
          <ul class="sidebar__menu"> 
            <li class="sidebar__menu-item"> <a class="sidebar__menu-link" href="./admin-recycling-page.html">Центр переработки</a></li>
            <li class="sidebar__menu-item"> <a class="sidebar__menu-link sidebar__menu-link_active" href="./admin-forum-page.html">Форум</a></li>
            <li class="sidebar__menu-item"> <a class="sidebar__menu-link" href="#">Мазгазины</a></li>
          </ul>
        </nav>
      </div>
      <div class="main__content content">
        <div class="main__content-wrapper"><a class="link" href="./admin-forum-edit-page.html"> <span>Добавить</span><img src="images/arrow.svg" alt="icon"></a>
          <div class="topics">
            <article class="topic">
              <div class="topic__head"> 
                <h3 class="topic__title">Экологический праздник "Зеленая система" пройдет 14 октября с 12:00 до 19:00 часов в рамках фестиваля КультТорг</h3><a class="topic__more" href="#"> <span>Подробнее</span><img src="images/arrow.svg" alt="icon"></a>
              </div>
              <div class="topic__body">
                <div class="topic__comments"> 
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-1.png" alt=""></div>
                    <p class="comment__text">Хорошая новость!</p>
                  </article>
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-2.png" alt=""></div>
                    <p class="comment__text">Я обязательно приду!!<br>а где будет проходить мероприятие?</p>
                  </article>
                </div>
              </div>
            </article>
            <article class="topic">
              <div class="topic__head"> 
                <h3 class="topic__title">Сотрудники Госкомитета РТ по биоресурсам продолжают бороться против туристов за цвет Голубых озер</h3><a class="topic__more" href="#"> <span>Подробнее</span><img src="images/arrow.svg" alt="icon"></a>
              </div>
              <div class="topic__body">
                <div class="topic__comments"> 
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-1.png" alt=""></div>
                    <p class="comment__text">Хорошая новость!</p>
                  </article>
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-2.png" alt=""></div>
                    <p class="comment__text">Я обязательно приду!!<br>а где будет проходить мероприятие?</p>
                  </article>
                </div>
              </div>
            </article>
            <article class="topic">
              <div class="topic__head"> 
                <h3 class="topic__title">«Чистый воздух»: благая цель или почва для активизма?</h3><a class="topic__more" href="#"> <span>Подробнее</span><img src="images/arrow.svg" alt="icon"></a>
              </div>
              <div class="topic__body">
                <div class="topic__comments"> 
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-1.png" alt=""></div>
                    <p class="comment__text">Хорошая новость!</p>
                  </article>
                  <article class="topic__comment comment"> 
                    <div class="comment__avatar"> <img src="./images/avatar-2.png" alt=""></div>
                    <p class="comment__text">Я обязательно приду!!<br>а где будет проходить мероприятие?</p>
                  </article>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </main>
    <script src="js/app.min.js"> </script>
    <script src="js/admin.min.js"> </script>
  </body>
</html>